@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative; /* Position for overlay */
  background-color: #113;
  color: aliceblue;
  background-image: 
    radial-gradient(circle at 50% 50%, rgba(34, 34, 102, 0.7) 20%, transparent 100%),
    linear-gradient(to bottom right, #226, #113);
  background-size: cover;
  height: 100%;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/btc.png'); /* Main background image */
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Change this for desired visibility */
  z-index: -1; /* Send to back */
}

@keyframes from-left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.skelton-animation {
  animation: from-left-to-right 2s infinite;
}

/* Responsive Media Queries */
@media (max-width: 1024px) {
  body::before {
    background-image: url('/btc.png'); /* Image for small screens */
    opacity: 0.5;
  }
}

@media (min-width: 1024px) {
  body::before {
    background-image: url('/btc.png'); /* Image for large screens */
    opacity: 0.5;
  }
}
